*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{

  display: flex;
  justify-content: space-between;
 margin: 0 20px;
 flex-wrap: wrap;
 gap: 10px;
  

}
body{
  background-color: antiquewhite;
}

.view{
  width: 500px;

  
  border: 1px solid black;
  background-color: rgb(193, 30, 243);
}

.displayHabit{
  width: 800px;
  border: 1px solid red;
  
  
  
 
}

